<!--
403 - Acesso Proibido
Prioridade: ALTA

Quando ocorre:

Usuário comum tenta acessar área administrativa

Acesso a recursos sem permissão específica

Tentativa de acessar dados de outro usuário

O que mostrar:

"Você não tem permissão para acessar esta página"

Explicação sobre restrições de acesso

Botão para voltar à área permitida

Link para entrar em contato se acredita ser um erro
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Caiu na página 403</h1>
</body>
</html>