<!-- 
500 - Erro Interno do Servidor
Prioridade: CRÍTICA

Quando ocorre: Erros no servidor, banco de dados, bugs na aplicação

O que mostrar:

Mensagem genérica: "Estamos com problemas técnicos"

Pedido de desculpas

Instrução para tentar novamente em alguns minutos

Link para a página inicial

Contato do suporte 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Caiu na página 500</h1>
</body>
</html>