<!-- Estou retornando um objeto da classe veículo com o nome veiculo, pode chamar seus atributos com veiculo.atributo
    Ex.: veiculo.imagem 
    
    TODOS ESSES DEVEM FUNCIONAR:
        veiculo.id
        veiculo.tipo
        veiculo.categoria
        veiculo.marca
        veiculo.modelo
        veiculo. transmissao
        veiculo.preco
        veiculo.nome
        veiculo.imagem
        veiculo.malas   
        veiculo.pasageiros
        veiculo.portas
        veiculo.combustivel
        veiculo.status  
 -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    <h1>{{ veiculo.nome }}</h1>
</body>
</html>